name: "PR workflow"

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - 'static/**'
      - '**.md'
      - '.gitignore'
      - '.github/ISSUE_TEMPLATE/**'
      - 'fastlane/**'
  workflow_dispatch:
    inputs:
      run_android:
        description: 'manually run android build'
        required: false
        default: false
        type: boolean

jobs:
  changes:
    if: ${{ ! github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.filter.outputs.android == 'true' || steps.filter.outputs.flutter == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            android: 'android/**'
            flutter: ['lib/**', 'pubspec.yaml', 'assets/**']

  flutter-build-android:
    needs: changes
    if: ${{ github.event.inputs.run_android == 'true' || needs.changes.outputs.should_run == 'true' }}
    name: "Release for Android (v7a)"
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle' # 缓存 Gradle 依赖，提速构建

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml
          cache: true # 缓存 Flutter SDK 和 Pub 包

      - name: Build Android APK
        run: |
          flutter pub get
          # 体积优化核心命令：
          # 1. --target-platform android-arm: 指定 v7a 架构
          # 2. --split-per-abi: 强制剥离非目标架构的代码，解决那 10MB 的冗余
          # 3. --tree-shake-icons: 剔除未使用的图标字体
          # 4. --obfuscate & --split-debug-info: 混淆代码并移除调试符号
          flutter build apk --release \
            --target-platform android-arm \
            --split-per-abi \
            --tree-shake-icons \
            --obfuscate \
            --split-debug-info=build/app/outputs/symbols
        
      - name: Package and Rename
        run: |
          mv build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk Kazumi_v7a_TV.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Kazumi_v7a_TV
          path: Kazumi_v7a_TV.apk
          retention-days: 3
